 {% extends "layout.html"%}

 {% block body %}
    <!--start  of navigation bar. containing logo, app name and tabs-->
      <!--end of navigation-->
      <!--start of content of the app-->
      <div class="container">
      <div class="row">
        <div class="col-md-12">

          <table class="table table-hover">
              <tr>
                <td>content</td>
                <td>location</td>
                <td>Status</td>
                <td>Recieved</td>
              </tr>

            <tbody>
              <tr>
              <td>{{data['content']}}</td>
              <td>{{data['location']}}</td>
              <td class="text-green">{{data['status']}}</td>
              <td>{{data['timestamp']}}</td>
            </tbody>
            </tr>

          </table>
        </div>
      </div>

    </div>
      <!--end of proposals-->

  {% endblock %}

