{% extends "layout.html" %}

{% block title %}
Pans
{% endblock %}

{% block body %}
<div class="container">		
	</div>
	<div class="text-right">
		<a href="{{ url_for('addpan')}}"><button class="btn btn-sm btn-success">Add</button></a></button>
	</div>
      <div class="row">
        <div class="col-md-12">

          <table class="table table-hover">
            <thead class="text-left">
              <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Status</th>
                <th>Mananger</th>
                 <th>Actions</th>
              </tr>
            </thead>

			<tbody>
              <td><strong><b>Jumanji</b></strong></td>
			  <td><strong><b>Turkana</b></strong></td>
              <td><strong><b>Active</b></strong></td>
              <td><strong><b>Mr. sir</b></strong></td>
              <td><strong><b><a href="#"><button class="btn btn-sm btn-success">View</button></a><a href="{{url_for('editpan')}}"><button class="btn btn-sm btn-info">Update</button></a><a href="#"><button class="btn btn-sm btn-danger">Deactivate</button></a></b></strong></td>
           </tbody>

          </table>
        </div>
      </div>

    </div>
{% endblock %}